$ne-background-color: #293C55;
$ne-main-color:#1890FF;

$ne-font-family: "Pingfang","Pingfang","Helvetica Neue";

$ne-transition-color-1 : #333333;
$ne-transition-color-2 : #666666;
$ne-transition-color-3 : #999999;
