$ne-background-color: #293C55;
$ne-main-color:#1890FF;

$ne-font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;

$ne-transition-color-1 : #333333;
$ne-transition-color-2 : #666666;
$ne-transition-color-3 : #999999;


$ne-color-dark-blue : #293C55;
$ne-color-light-blue : #1890FF;
$ne-color-white : #FFFFFF;
$ne-background-color : #DFE2EB;
$ne-menu-color : #152437;

